*{
  box-sizing: border-box;
  color: #1B1C21;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
}

.rectangle{
  width: 320px;
  height: 100%;
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  padding-top: 1rem;
  box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
}

.rectangle :nth-child(2) {
  margin-bottom: auto;
}

.links {
  display: flex;
  width: 297px;
  height: 51px;
  flex-direction: row;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.links :nth-child(1), .links :nth-child(3){
  width: 40px;
  height: 40px;
  align-self: center;
}

.links :nth-child(2)
{
  margin-right: auto;
  width: 97px;
  height: 51px;
  align-self: center;
}

.services{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.services__active{
  width: 296px;
  height: 24px;
  margin-bottom: 32px;
  display: flex;
}

.services__active-a{
  text-decoration: none;
  color: #7E7E82;
  margin-left: 1.5rem;
}

.services__link{
  margin-bottom: 32px;
  margin-left: 1.5rem;
  text-decoration: none;
}

.services :nth-child(2){
  margin-bottom: 32px;
}

.footer{
  width: 162px;
  height: 124px;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: flex-start;
}

.footer__icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__icon{
  flex: 0 0 auto;
  width: 40px;
  height: 40px;
}

.footer__contact{
  width: 163px;
  display: flex;
  flex-direction: column;
}

.footer__phone{
  margin: 0;
  color: #1B1C21;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.6px;
  align-self: center;
}


.footer__language{
  margin-left: 1rem;
  margin-bottom: 32px;
  margin-top: 40px;
}


img:hover{
  filter: contrast(200%);
  filter: grayscale(50%);
}

a:hover{
  filter: invert(70%);
}

.services__active-a:hover{
  color: rgb(250, 64, 2);
}

p:hover{
  filter: drop-shadow(16px 16px 10px black);
}